.main_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 28px;
}

th {
  background-color: lightblue;
}

td {
  background-color: aquamarine;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}
h2 {
  text-decoration: underline;
}

input {
  width: 15%;
  height: 22px;
}

form * {
  font-size: 28px;
}
